.navbar-custom{
	background: #ffffff;
}

.navbar-custom .navbar-nav li a, header {
    color: #d90916; /* Red */
}

.navbar-custom .navbar-nav li a:hover {
    color: #2c3e50; /* Blue */
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
    background: #d90916;
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle {
    background-color: #d90916;
    color: #ffffff;
    border-color: #d90916;
}

.navbar-custom .navbar-toggle:hover {
    background-color: #ffffff;
    color: #d90916;
    border-color: #d90916;
}

.intro-text{
	color: #ffffff;
}

#portfolio .portfolio-item .portfolio-link .caption{
	background: rgba(44,62,80,.9); /* rgba(217,9,22,.7); */
}

a, a.active, a:active, a:focus, a:hover {
    color: #d90916;
}

.portfolio-item a{
	color: #2c3e50;
}

section.success {
    background: #2c3e50;
    color: #fff;
}
hr.star-light:after {
    background-color: #2c3e50;
}

.btn-outline:hover{
	color: #d90916;
	background: #ffffff;
	border-color: #ffffff;
}

.floating-label-form-group-with-focus label{
	color: #d90916;
}