<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Asociación CERO</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>   
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/red_style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="app">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <!-- a class="navbar-brand" href="#page-top">Asociación CERO</a-->
                <a class="navbar-brand" href="#page-top"><img class="logo" src="img/logo2.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">¿Quienes Somos?</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#sickcat">Casos</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#teaming">Hazte Teaming</a>
                    </li>
                    <!--li class="page-scroll">
                        <a href="#happy-ending">Finales Felices</a>
                    </li-->
                    <li class="page-scroll">
                        <a href="#contact">Contacto</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#adoption-protocol">Adopción</a>
                    </li>
                    <li>
                        <a v-bind:href="configuracion.paypal_url"><i class="fa fa-credit-card"></i> Ayúdanos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header v-bind:style="{ backgroundImage: 'url(' + configuracion.imagen_principal + ')' }">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <img class="img-responsive" src="img/logo.jpg" alt="">
                        <span class="name">Asociación CERO</span>
                        <span class="skills">Ayúdanos a salvar sus vidas</span>
                        <span class="intro-btn"><a v-bind:href="configuracion.paypal_url" class="btn btn-primary btn-lg btn-outline"><i class="fa fa-credit-card"></i>  Ayúdanos!</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>¿Quiénes Somos?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div v-html="configuracion.quienes_somos"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a v-bind:href="configuracion.paypal_url" class="btn btn-warning btn-lg btn-outline">
                        <i class="fa fa-credit-card"></i> Ayúdanos!
                    </a>
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope-o"></i> Contacta con nosotros
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Sick Cats Section -->
    <section id="sickcat">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Casos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div v-for="(item, index) in sick_cats">
                    <div class="col-sm-4 portfolio-item">
                        <a v-bind:href="'#sickcatModal' + index" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img v-bind:src="item.imagen_principal" class="img-responsive" alt="">
                        </a>
                        <h3>
                            <a v-bind:href="'#sickcatModal' + index" class="portfolio-link portfolio-link-text" data-toggle="modal">
                                {{ item.nombre }}
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Hazte Teaming Section -->
    <section class="success" id="teaming">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hazte Teaming!</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row" v-if="configuracion.teaming_parrafo_1">
                <div class="col-lg-8 col-lg-offset-2">
                    <div v-html="configuracion.teaming_parrafo_1"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a v-bind:href="configuracion.teaming_link" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope-o"></i> Únete a nuestro equipo
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contacto</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre" id="name" required data-validation-required-message="Introduce tu nombre.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Introduce tu dirección de correo electronico.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Asunto</label>
                                <input type="text" class="form-control" placeholder="Asunto" id="subject" data-validation-required-message="Asunto.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Mensaje</label>
                                <textarea rows="5" class="form-control" placeholder="Mensaje" id="message" required data-validation-required-message="Introduce el mensaje."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-danger btn-lg">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Adopcion Section -->
    <section class="success" id="adoption-protocol">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Protocolo de Adopción</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row" v-if="configuracion.protocolo_parrafo_1">
                <div class="col-lg-8 col-lg-offset-2">
                    <div v-html="configuracion.protocolo_parrafo_1"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Ayudanos Section -->
    <section id="ayudanos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ayúdanos</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row" v-if="configuracion.ayudanos_parrafo">
                <div class="col-lg-8 col-lg-offset-2">
                    <div v-html="configuracion.ayudanos_parrafo"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>En la Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a v-bind:href="configuracion.pagina_facebook" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a v-bind:href="configuracion.pagina_instagram" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>Contacto</h3>
                        <p v-if="configuracion.email">Email: <a v-bind:href="'mailto:' + configuracion.email">{{ configuracion.email }}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Asociación CERO 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Sick Cat Modals -->
    <div v-for="(item, index) in sick_cats">
        <div class="portfolio-modal modal fade" v-bind:id="'sickcatModal' + index" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>{{ item.nombre }}</h2>
                                <hr class="star-primary">
                                <div class="caso-imagenes-row" v-if="item.imagen1">
                                    <div class="caso-imagen caso-imagen1">
                                        <img v-bind:src="item.imagen1" class="img-responsive img-centered" alt="">
                                    </div>
                                    <div class="caso-imagen caso-imagen2">
                                        <img v-bind:src="item.imagen2" class="img-responsive img-centered" alt="">
                                    </div>
                                </div>
                                <div class="caso-imagenes-row" v-if="item.imagen2">
                                    <div class="caso-imagen caso-imagen3">
                                        <img v-bind:src="item.imagen3" class="img-responsive img-centered" alt="">
                                    </div>
                                    <div class="caso-imagen caso-imagen4">
                                        <img v-bind:src="item.imagen4" class="img-responsive img-centered" alt="">
                                    </div>
                                </div>
                                <p class="caso-texto" v-html="item.descripcion"></p>
                                <ul class="list-inline item-details" v-if="item.recaudar">
                                    <li v-if="item.objetivo">Objetivo:
                                        <strong><a href="http://startbootstrap.com">{{ item.objetivo }}€</a>
                                        </strong>
                                    </li>
                                    <li v-if="item.fecha">Fecha:
                                        <strong><a href="http://startbootstrap.com">{{ item.fecha }}</a>
                                        </strong>
                                    </li>
                                </ul>
                                <ul class="list-inline item-details" v-if="item.prioridad">
                                    <li>Prioridad:
                                        <strong>
                                            <a href="http://startbootstrap.com">
                                                <span v-if="item.prioridad === 1">Baja</span>
                                                <span v-if="item.prioridad === 2">Media</span>
                                                <span v-if="item.prioridad === 3">Alta</span>
                                                <span v-if="item.prioridad === 4">Urgente</span>
                                            </a>
                                        </strong>
                                    </li>
                                </ul>
                                <ul class="list-inline item-details">
                                    <li v-if="item.en_adopcion">
                                        <h3><span class="label label-danger">En Adopción</span></h3>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default btn-lg btn-xlg" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                                <a v-if="item.url_paypal === ''" v-bind:href="configuracion.paypal_url" type="button" class="btn btn-warning btn-lg btn-xlg" data-dismiss="modal"><i class="fa fa-credit-card"></i> Ayuda</a>
                                <a v-else class="btn btn-warning btn-lg btn-xlg" v-bind:href="item.url_paypal"><i class="fa fa-credit-card"></i> Ayuda</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

    <!-- Vue -->
    <script src="script.js"></script>

</body>

</html>
