<!-- Happy Ending Cat Modals -->
<div v-for="(item, index) in happy_ending_cats">
    <div class="portfolio-modal modal fade" v-bind:id="'happyendingModal' + index" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ item.nombre }}</h2>
                            <hr class="star-primary">
                            <div class="caso-imagenes-row" v-if="item.imagen1">
                                <div class="caso-imagen caso-imagen1">
                                    <img v-bind:src="item.imagen1" class="img-responsive img-centered" alt="">
                                </div>
                                <div class="caso-imagen caso-imagen2">
                                    <img v-bind:src="item.imagen2" class="img-responsive img-centered" alt="">
                                </div>
                            </div>
                            <div class="caso-imagenes-row" v-if="item.imagen2">
                                <div class="caso-imagen caso-imagen3">
                                    <img v-bind:src="item.imagen3" class="img-responsive img-centered" alt="">
                                </div>
                                <div class="caso-imagen caso-imagen4">
                                    <img v-bind:src="item.imagen4" class="img-responsive img-centered" alt="">
                                </div>
                            </div>
                            <p class="caso-texto" v-html="item.descripcion"></p>
                            <ul class="list-inline item-details" v-if="item.fecha">
                                <li v-if="item.fecha">Fecha:
                                    <strong><a href="http://startbootstrap.com">{{ item.fecha }}</a>
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
